{% extends 'schoolapp/landingpages/base_landing_pages.html' %}
{% load static %}

{% block title %}Login To Check Application Status{% endblock %}

{% block content %}
    <br><br><br>
    <div class="container-fluid">
        <div class="card">
            <div class="card-header text-center" style="padding-top: 20px; padding-left: 30px; color: blue;">
                LOGIN TO CHECK YOUR APPLICATION STATUS
            </div>
            <div class="card-body text-center">
                <img style="width: 90px;" src="{% static 'schoolapp/landingpages/images/security.gif' %}">
                <p>Enter your Student Number and the password sent to your mailbox during application</p>
                <hr>
                <form method="post" action="{% url 'templogintocheckapplicationstatus' %}">
                    {% csrf_token %}
                    <div class="row d-flex justify-content-center">
                        <div class="w-30 p-3">
                            {% if message %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% endif %}
                            <div class="form-group">
                                <label class="d-flex justify-content-start">Student Number:</label>
                                <input class="form-control" type="text" id="student_no" name="student_no">
                            </div>
                            <div class="form-group">
                                <label class="d-flex justify-content-start">Password:</label>
                                <input class="form-control" type="password" id="tmp_password" name="tmp_password">
                            </div>
                            <button type="submit" class="btn btn-outline-primary btn-block">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br>
{% endblock %}