{% extends 'schoolapp/systempages/base_systempages.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Courses</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Courses</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                    {% if success_message %}
                                        <div class="alert alert-success">{{ success_message }}</div>
                                    {% endif %}
                                    {% if error_message %}
                                        <div class="alert alert-success">{{ error_message }}</div>
                                    {% endif %}
                                    <tr>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>School</th>
                                        <th>Type</th>
                                        <th>Duration</th>
                                        <th>Description</th>
                                        <th class="text-right">Action</th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    {% for program in programs %}
                                    <tr>
                                        <td>{{ program.program_name }}</td>
                                        <td>{{ program.program }}</td>
                                        <td>{{ program.program_school }}</td>
                                        <td>{{ program.program_type }}</td>
                                        <td>{{ program.program_duration }}</td>
                                        <td>{{ program.program_description | truncatechars:15 }}</td>
                                        <td><a href="{% url '' %}" class="btn btn-outline-primary">View</a> </td>
                                    </tr>
                                    {% empty %}
                                        No data in table
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>Copyright © {% now 'Y' %}.</p>
        </footer>

    </div>
{% endblock %}