{% extends 'schoolapp/systempages/base_systempages.html' %}

{% block title %}Course Registration{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Repeat Course Registration</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active">Repeat Course Registration</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            {% if error_message %}
                                <div class="alert alert-danger">{{ error_message }}</div>
                            {% endif %}
                            <form action="{% url 'student_register_course' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="form-title"><span>Repeat Course Registration</span></h5>
                                    </div>

                                
                                    <div class="col-12 col-sm-6">
                                        <div class="form-group">
                                             <label>{{ register_course_form.course.label_tag }}</label>
                                            {{ register_course_form.course }}
                                            {{ register_course_form.course.error_messages }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}