{% extends 'schoolapp/systempages/base_systempages.html' %}

{% load static %}

{% load custom_filters %}

{% block title %}Current Payment Structures - {{ request.user | capfirst }} | WUC{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Payment Structures</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active"><a href="{% url 'dashboard' %}"> Dashboard</a>
                                /Current Payment Structures 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            Showing Payment Structures for: {{ current_semester }}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table_student_payment_structures" class="table table-hover table-center table-bordered table-stripped">
                                    <thead>
                                        {% if success_message %}
                                            <div class="alert alert-success">{{ success_message }}</div>
                                        {% endif %}
                                        {% if error_message %}
                                            <div class="alert alert-success">{{ error_message }}</div>
                                        {% endif %}
                                    <tr>
                                        <th rowspan='1' colspan="1">Semester</th>
                                        <th rowspan='1' colspan="1">Programme</th>
                                        <th rowspan='1' colspan="1">Year Of Study</th>
                                        <th rowspan='1' colspan="1">Amount</th>
                                        <th rowspan='1' colspan="1">Payment Type</th>
                                    </tr>
            
                                    </thead>
                                    <tbody>
                                        {% for ps in payment_structures %}
                                        
                                            <tr>
                                                <td>{{ ps.semester }}</td>
                                                <td>{{ ps.program }}</td>
                                                <td>{{ ps.payment_level }}</td>
                                                <td>K{{ ps.amount_to_be_paid }}</td>
                                                <td>{{ ps.payment_description }}</td>
                                            </tr>
                                        
                                        {% empty %}
                                            <i class="d-flex justify-content-center alert alert-info">No payment history found.</i><br>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <a href="{% url 'student_view_previous_academic_sessions_payment_structures' %}" class="btn btn-sm btn-outline-primary">
                                View All Including Previous Payment Structures
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <footer>
            <p>Copyright © {% now 'Y' %}.</p>
        </footer>
    </div>
{% endblock %}